<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spencer.springboot.dao.TaobaoMapper" >
  <resultMap id="BaseResultMap" type="com.spencer.springboot.po.Taobao" >
    <id column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sign, user, image, price, time, region, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from taobao
    where sign = #{sign,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from taobao
    where sign = #{sign,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spencer.springboot.po.Taobao" >
    insert into taobao (sign, user, image, 
      price, time, region, 
      title)
    values (#{sign,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{time,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spencer.springboot.po.Taobao" >
    insert into taobao
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sign != null" >
        sign,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spencer.springboot.po.Taobao" >
    update taobao
    <set >
      <if test="user != null" >
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where sign = #{sign,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spencer.springboot.po.Taobao" >
    update taobao
    set user = #{user,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      time = #{time,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where sign = #{sign,jdbcType=VARCHAR}
  </update>
</mapper>